.question-div {
    padding: 1rem;
    width: 960px;
    margin: auto;
    background-color: rgba(227,226,223,0.5);
}


li {
    list-style: none;
    font-size: 1.25rem;
    padding: 0.25rem;
    text-decoration: underline;
}

li:hover {
    cursor: pointer;
}

button,
.instructions {
    margin: 1rem;
}

.instructions {
    padding: 3px auto;
}

.boxes {
    margin-bottom: 1rem;
}

.label, .box {
    font-size: 1.45rem;

}

.score {
    margin-right: 1rem
}

.reset-label {
    margin-left: 1rem
}

.box {
    background-color: #e3e2df;
    padding: 5px
}
